{
	0 = {
		Path = TracktorIsland;
		Name = "\"Track\"tor Island";
	};
	1 = {
		Path = ZanziSandbar;
		Name = "Zanzi(sand)bar";
	};
	2 = {
		Path = PoseidonsDoorstep;
		Name = "Poseidon's Doorstep";
	};
	3 = {
		Path = Squeeze;
		Name = Squeeze;
	};
	4 = {
		Path = Sliders;
		Name = Sliders;
	};
	5 = {
		Path = TimingIsEverything;
		Name = "Timing is Everything";
	};
	6 = {
		Path = WhipIt;
		Name = "Whip It";
	};
	7 = {
		Path = DotTheI;
		Name = "Dot the I";
	};
	8 = {
		Path = FollowMe;
		Name = "Follow Me";
	};
	9 = {
		Path = Crunch;
		Name = Crunch;
	};
	10 = {
		Path = Swing;
		Name = Swing;
	};
	11 = {
		Path = Sinkhole;
		Name = Sinkhole;
	};
	12 = {
		Path = Paradise;
		Name = Paradise;
	};
	13 = {
		Path = PerfectFit;
		Name = "Perfect Fit";
	};
	14 = {
		Path = ForceField;
		Name = "Force Field";
	};
	15 = {
		Path = Pitcher;
		Name = Pitcher;
	};
	16 = {
		Path = Parabola;
		Name = Parabola;
	};
	17 = {
		Path = Horseshoe;
		Name = Horseshoe;
	};
	18 = {
		Path = DangerBay;
		Name = "Danger Bay";
	};
	19 = {
		Path = TwoRoads;
		Name = "Two Roads";
	};
	20 = {
		Path = Exposed;
		Name = Exposed;
	};
	21 = {
		Path = Riptide;
		Name = Riptide;
	};
	22 = {
		Path = Turbulence;
		Name = Turbulence;
	};
	23 = {
		Path = Finesse;
		Name = Finesse;
	};
}