{
	0 = {
		RequiresPack = "";
		"RequiresNumPackLevelsCompleted" = 0;
		Path = Pack1;
		Name = Surrounded;
	};
	1 = {
		RequiresPack = Pack1;
		"RequiresNumPackLevelsCompleted" = 6;
		Path = Pack2;
		Name = "Natural Powers";
	};
	2 = {
		RequiresPack = Pack2;
		"RequiresNumPackLevelsCompleted" = 5;
		Path = Pack3;
		Name = Hats;
	};
}