{
	0 = {
		RequiresPack = "";
		"RequiresNumPackLevelsCompleted" = 0;
		Path = APenguinInNeed;
		Name = "A Penguin In Need";
	};
	1 = {
		RequiresPack = APenguinInNeed;
		"RequiresNumPackLevelsCompleted" = 5;
		Path = TectonicPlates;
		Name = "Tectonic Plates";
	};
	2 = {
		RequiresPack = TectonicPlates;
		"RequiresNumPackLevelsCompleted" = 5;
		Path = Beach;
		Name = Beach;
	};
}
