{
	0 = {
		Path = DangerDanger;
		Name = "Danger! Danger!";
	};
	1 = {
		Path = Northbound;
		Name = Northbound;
	};
	2 = {
		Path = ChannelBreak;
		Name = "Channel Break";
	};
	3 = {
		Path = Showdown;
		Name = Showdown;
	};
	4 = {
		Path = OpenWater;
		Name = "Open Water";
	};
	5 = {
		Path = Archipelago;
		Name = Archipelago;
	};
	6 = {
		Path = TwoBirds;
		Name = "Two Birds";
	};
	7 = {
		Path = ALightBreeze;
		Name = "A Light Breeze";
	};
	8 = {
		Path = AllTogetherNow;
		Name = "All Together Now";
	};
	9 = {
		Path = MerryGoRound;
		Name = "Merry Go Round";
	};
	10 = {
		Path = FigureEight;
		Name = "Figure Eight";
	};
	11 = {
		Path = WayWayUpThere;
		Name = "Way Way Up There";
	};
	12 = {
		Path = BatterUp;
		Name = "Batter Up!";
	};
	13 = {
		Path = ZigZag;
		Name = ZigZag;
	};
	14 = {
		Path = Hurricane;
		Name = Hurricane;
	};
	15 = {
		Path = Surrounded;
		Name = Surrounded;
	};
	16 = {
		Path = Jam;
		Name = Jam;
	};
	17 = {
		Path = Breakout;
		Name = Breakout;
	};
	18 = {
		Path = LandLocked;
		Name = "Land Locked";
	};
	19 = {
		Path = SplitUp;
		Name = "Split Up!";
	};
	20 = {
		Path = OneSided;
		Name = "One-Sided";
	};
}