{
	0 = {
		Path = DangerDanger;
		Name = "Danger! Danger!";
	};
	1 = {
		Path = Northbound;
		Name = Northbound;
	};
	2 = {
		Path = ChannelBreak;
		Name = "Channel Break";
	};
	3 = {
		Path = Showdown;
		Name = Showdown;
	};
	4 = {
		Path = OpenWater;
		Name = "Open Water";
	};
	5 = {
		Path = Archipelago;
		Name = Archipelago;
	};
	6 = {
		Path = TwoBirds;
		Name = "Two Birds";
	};
	7 = {
		Path = ALightBreeze;
		Name = "A Light Breeze";
	};
	8 = {
		Path = WayWayUpThere;
		Name = "Way Way Up There";
	};
	9 = {
		Path = AllTogetherNow;
		Name = "All Together Now";
	};
	10 = {
		Path = MerryGoRound;
		Name = "Merry Go Round";
	};
	11 = {
		Path = FigureEight;
		Name = "Figure Eight";
	};
}